<!doctype html>
<html lang="en-US">
	<head>
		<h1> About </h1>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>About page</title>
		<link href="styles/style.css" rel="stylesheets" />
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans"
			rel="stylesheets" />
	</head>
	<body>
		
		<p> About this: </p>
	</body>
</html>
