<!doctype html>
<html lang="en-US">
	<head>
		<h1> Rails made </h1>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>My test page</title>
		<link href="styles/style.css" rel="stylesheets" />
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans"
			rel="stylesheets" />
	</head>
	<body>
		<%= link_to "About", about_path %> | 
		<%= link_to "Articles", articles_path %>
		<a href="https://www.cody.mn/">
			<img src="https://cody.mn/870beb0ed1c38aeba495d4255aad4b09.svg" alt="cody">
		</a>
	</body>
</html>
